@font-face {
    font-family: 'jws_icon';
    src: url('jws_icon.eot?41701544');
    src: url('jws_icon.eot?41701544#iefix') format('embedded-opentype'),
         url('jws_icon.woff2?41701544') format('woff2'),
         url('jws_icon.woff?41701544') format('woff'),
         url('jws_icon.ttf?41701544') format('truetype'),
         url('jws_icon.svg?41701544#jws-icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
   
   [class^="jws-icon-"]:before, [class*=" jws-icon-"]:before {
    font-family: "jws_icon";
    font-style: normal;
    font-weight: normal;
      
  }
  
  .jws-icon-play-fill:before { content: '\e800'; } /* 'î €' */
  .jws-icon-globe-hemisphere-west-fill:before { content: '\e801'; } /* 'î ' */
  .jws-icon-lock-key-fill:before { content: '\e802'; } /* 'î ‚' */
  .jws-icon-check-circle-fill:before { content: '\e803'; } /* 'î ƒ' */
  .jws-icon-film:before { content: '\e836'; } /* 'î ¶' */
  .jws-icon-crown-1:before { content: '\e837'; } /* 'î ·' */
  .jws-icon-info-light:before { content: '\f061'; } /* 'ï¡' */
  .jws-icon-reply:before { content: '\f112'; } /* 'ï„’' */
  .jws-icon-arrow-left:before { content: '\f282'; } /* 'ïŠ‚' */
  .jws-icon-arrow-line-down:before { content: '\f283'; } /* 'ïŠƒ' */
  .jws-icon-arrow-right:before { content: '\f28b'; } /* 'ïŠ‹' */
  .jws-icon-book-bookmark:before { content: '\f2e5'; } /* 'ï‹¥' */
  .jws-icon-bookmark-simple:before { content: '\f2e8'; } /* 'ï‹¨' */
  .jws-icon-caret-circle-right:before { content: '\f314'; } /* 'ïŒ”' */
  .jws-icon-caret-double-right:before { content: '\f318'; } /* 'ïŒ˜' */
  .jws-icon-caret-down:before { content: '\f31a'; } /* 'ïŒš' */
  .jws-icon-caret-left:before { content: '\f31b'; } /* 'ïŒ›' */
  .jws-icon-caret-right:before { content: '\f31c'; } /* 'ïŒœ' */
  .jws-icon-chat-dots:before { content: '\f336'; } /* 'ïŒ¶' */
  .jws-icon-check:before { content: '\f33e'; } /* 'ïŒ¾' */
  .jws-icon-check-circle:before { content: '\f33f'; } /* 'ïŒ¿' */
  .jws-icon-check-square:before { content: '\f340'; } /* 'ï€' */
  .jws-icon-crown-simple:before { content: '\f37e'; } /* 'ï¾' */
  .jws-icon-dots-three-outline-vertical:before { content: '\f3af'; } /* 'ïŽ¯' */
  .jws-icon-eye:before { content: '\f3c6'; } /* 'ï†' */
  .jws-icon-film-strip:before { content: '\f3f6'; } /* 'ï¶' */
  .jws-icon-gear:before { content: '\f42a'; } /* 'ïª' */
  .jws-icon-globe-simple:before { content: '\f441'; } /* 'ï‘' */
  .jws-icon-handbag:before { content: '\f455'; } /* 'ï‘•' */
  .jws-icon-heart:before { content: '\f460'; } /* 'ï‘ ' */
  .jws-icon-house:before { content: '\f470'; } /* 'ï‘°' */
  .jws-icon-image:before { content: '\f475'; } /* 'ï‘µ' */
  .jws-icon-link:before { content: '\f48f'; } /* 'ï’' */
  .jws-icon-list:before { content: '\f497'; } /* 'ï’—' */
  .jws-icon-magnifying-glass:before { content: '\f4a8'; } /* 'ï’¨' */
  .jws-icon-map-pin:before { content: '\f4ab'; } /* 'ï’«' */
  .jws-icon-minus:before { content: '\f4bf'; } /* 'ï’¿' */
  .jws-icon-monitor-play:before { content: '\f4c3'; } /* 'ï“ƒ' */
  .jws-icon-pencil-line:before { content: '\f512'; } /* 'ï”’' */
  .jws-icon-play:before { content: '\f52b'; } /* 'ï”«' */
  .jws-icon-play-circle:before { content: '\f52c'; } /* 'ï”¬' */
  .jws-icon-plus:before { content: '\f531'; } /* 'ï”±' */
  .jws-icon-queue:before { content: '\f548'; } /* 'ï•ˆ' */
  .jws-icon-share-network:before { content: '\f56e'; } /* 'ï•®' */
  .jws-icon-sign-out:before { content: '\f582'; } /* 'ï–‚' */
  .jws-icon-speaker-high:before { content: '\f59d'; } /* 'ï–' */
  .jws-icon-speaker-x:before { content: '\f5a6'; } /* 'ï–¦' */
  .jws-icon-television:before { content: '\f5d1'; } /* 'ï—‘' */
  .jws-icon-thumbs-down:before { content: '\f5ef'; } /* 'ï—¯' */
  .jws-icon-thumbs-up:before { content: '\f5f0'; } /* 'ï—°' */
  .jws-icon-trash:before { content: '\f602'; } /* 'ï˜‚' */
  .jws-icon-upload:before { content: '\f611'; } /* 'ï˜‘' */
  .jws-icon-user-circle:before { content: '\f614'; } /* 'ï˜”' */
  .jws-icon-video-camera:before { content: '\f625'; } /* 'ï˜¥' */
  .jws-icon-warning:before { content: '\f62c'; } /* 'ï˜¬' */
  .jws-icon-x:before { content: '\f642'; } /* 'ï™‚' */
  